<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Welcome To the home</h1>
    <% for (let comment of data){ %>
        <div>
            <ul>
                <li>
                    <%= comment.comment %> <a href='/comment/edit/<%=comment._id %>'> <b>- <%= comment.userName %>
                            </b></a>
                </li>
            </ul>
        </div>

        <% } %>

            <a href="/newcomment">Create new Comment</a>
</body>

</html>