<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comment Page</title>
</head>

<body>
    <h1>Create new Page</h1>

    <form action="/newcomment" method="post">

        <div>


            <label for="name">Enter User Name</label>
            <input type="text" id="name" name="userName" placeholder="Enter userName">

        </div>
        <div>

            <label for="comment">Enter Comment</label>
            <textarea name="comment" id="comment" cols="30" rows="10"></textarea>

        </div>
        <button>Submitt</button>
    </form>

</body>

</html>